﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Campeones por la Paz</title>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,700|Merriweather' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        @Styles.Render("~/Content/misc.css")
        @Styles.Render("~/Content/style.css")
        <link rel="shorcut icon" href="~/images/logo.ico">
        
        

    </head>
    <body>
        <div class="responsive-navigation visible-sm visible-xs">
            <a href="#" class="menu-toggle-btn">
                <i class="fa fa-bars fa-2x"></i>
            </a>
            <div class="navigation responsive-menu">

                <ul>
                    <li class="Inicio"><a href="#Inicio">Inicio</a></li>
                    <li class="about"><a href="#Acerca-de">Acerca de</a></li>
                    <li class="services"><a href="#Galeria">Galeria</a></li>
                    <!--<li class="portfolio"><a href="#portfolio">Portfolio</a></li>-->
                    <li class="contact"><a href="#contacto">Contacto</a></li>
                </ul> <!-- /.main_menu -->
            </div>
        </div>

        <div id="main-sidebar" class="hidden-xs hidden-sm">

            <p class="log">
                <img src="~/images/logoclubboxeo.png" class=" image-responsive" alt="">
            </p>
            <div class="logo">
                <a href="#"><h1>Campeones por la Paz</h1></a>
                <span>Club de boxeo</span>
            </div> <!-- /.logo -->

            <div class="navigation">
                <ul class="main-menu">
                    <li class="Inicio"><a href="#Inicio">Inicio</a></li>
                    <li class="about"><a href="#Acerca-de">Acerca de</a></li>
                    <li class="services"><a href="#Galeria">Galeria</a></li>
                    <li class="contact"><a href="#contacto">Contacto</a></li>
                    
                </ul>
            </div> <!-- /.navigation -->

        </div> <!-- /#main-sidebar -->       
       
         @RenderBody()

        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        @Scripts.Render("~/Scripts/jquery.singlePageNav.js")
        @Scripts.Render("~/Scripts/jquery.flexslider.js")
        @Scripts.Render("~/Scripts/custom.js")

        
    </body>
</html>
