﻿@model IEnumerable<CampeonesFinal.Models.Club> 





    <div class="container-fluid">
        <div id="Acerca-de" class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Acerca de</h2>
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>Misión</h4>
                    @foreach (var item in Model)
                    {
                        <p id="mision">@Html.DisplayFor(modelItem => item.mision)</p>

                    }
                    <!--<p id="mision">El club de Boxeo CAMPEONES POR LA PAZ es un centro de entretenimiento fisico de alto rendimiento que ofrece clases e intrucciones de buena calidad sustentadas en la formación integral de personas con alto nivel de desarrollo educativo, fisico, mental, espiritual y en valores con sentido de pertenencia con el club y l sociedad, capaces de aportar a la transformación de la familia y la comunidad, y tiene como misión llevar esta disciplina a todos los barrios, veredas y municipios del departamento y con ello lograr la caza de talentos de cualquier disciplina para encaminarlos a alcanzar grandes resultados deportivos.</p>-->
                </div>
                <div class=" col-md-6">
                    <img id="imgmision" src="~/images/profe.jpg" class="img-responsive" alt="imagen">

                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h4>Visión</h4>
                    @foreach (var item in Model)
                    {
                        <p >@Html.DisplayFor(modelItem => item.vision)</p>

                    }
                    <!--<p>Para el año 2020 seremos un club consolidado en el ámbito deportivo y cultural, siendo unos de los mejores clubes de Boxeo de América Latina y del mundo, no solo por los resultados deportivos alcanzados sino que nuestros atletas y entrenadores con su empeño y constancia tiene el compromiso y el deber de luchar por una Colombia unida y demostrarle al mundo que somos un pueblo de paz.</p>-->
                </div>
                <div class="col-md-6">
                    <img src="~/images/profe1.jpg" class="img-responsive" alt="imagen1">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <h4>Nuestros Lemas</h4>
                </div>
            </div>
            @Html.Action("lema")
        </div>
    </div>
