﻿@model IEnumerable<CampeonesFinal.Models.Contacto>

<div id="contacto" class="section-content">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title">
                <h2>Contacto</h2>
            </div>
        </div>
    </div>

    <div class="row" id="fconta">       
            

        <form method="POST" name="fcontacto" id="fcontacto" action="~/Controllers/ContactoesController/enviarCorreo(Contacto contacto)">
            <div class="row">
                <div class="col-md-6">
                    <label>Nombre :</label>
                    <input type="text" name="name" id="name" class="form-control">
                </div>

                <div class="col-md-6">
                    <label>Email :</label>
                    <input type="text" name="email" id="email" class="form-control">
                </div>
            </div>
            <label>Asunto :</label>
            <input type="text" name="asunto" id="asunto" class="form-control">
            <label>Mensaje :</label>
            <textarea name="mensaje" id="mensaje" cols="30" rows="10" class="form-control"></textarea>
            <input type="submit" class="btn btn-info" value="Enviar">



        </form>

        
        
    </div>

</div>