﻿@model IEnumerable<CampeonesFinal.Models.Club>

<div class="container-fluid">
    <div id="Galeria" class="section-content">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Galeria</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/images/imagen2.jpg" class="img-responsive" alt="imagen2">


                        </div>
                        <div class="item">
                            <img src="~/images/imagen1.jpg" class="img-responsive" alt="imagen1">
                        </div>
                        <div class="item">
                            <img src="~/images/profe2.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="item">
                            <img src="~/images/profe3.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="item">
                            <img src="~/images/profe4.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="item">
                            <img src="~/images/profe5.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="item">
                            <img src="~/images/profe6.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="item">
                            <img src="~/images/profe7.jpg" class="img-responsive" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
