﻿@model IEnumerable<CampeonesFinal.Models.Club>

@{
    ViewBag.Title = "Index";
}



<div id="main-content">

    <div id="Inicio">
        <div class="main-slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="slider-caption">
                            <h2>Campeones por la Paz</h2>
                            <p> Club de boxeo, liderado por el licenciado en Educación Fisica Gabriel Moya Despaigne, proveniente de cuba.</p>
                            <a href="#Acerca-de" class="largeButton homeBgColor">Leer más</a>
                        </div>
                        <img src="~/images/campeonesporlapaz.jpg" alt="Slide 1">
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="welcome-text">
                        <h2>Bienvenidos Campeones por la Paz</h2>
                        <p>Esta es la pagina oficial del club de boxeo Campeones por la Paz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Action("Acercade")
    @Html.Action("galeria")
    @Html.Action("contacto")
    


    <!--<div class="container-fluid">
        <div id="Acerca-de" class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Acerca de</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>Misión</h4>
                    @foreach (var item in Model)
                    {
                        <p>@Html.DisplayFor(modelItem => item.mision)</p>

                    }
                    <!-- <p id="mision">El club de Boxeo CAMPEONES POR LA PAZ es un centro de entretenimiento fisico de alto rendimiento que ofrece clases e intrucciones de buena calidad sustentadas en la formación integral de personas con alto nivel de desarrollo educativo, fisico, mental, espiritual y en valores con sentido de pertenencia con el club y l sociedad, capaces de aportar a la transformación de la familia y la comunidad, y tiene como misión llevar esta disciplina a todos los barrios, veredas y municipios del departamento y con ello lograr la caza de talentos de cualquier disciplina para encaminarlos a alcanzar grandes resultados deportivos.</p>
                </div>
                <div class=" col-md-6">
                    <img id="imgmision" src="~/images/profe.jpg" class="img-responsive" alt="imagen">

                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h4>Visión</h4>
                    <p>Para el año 2020 seremos un club consolidado en el ámbito deportivo y cultural, siendo unos de los mejores clubes de Boxeo de América Latina y del mundo, no solo por los resultados deportivos alcanzados sino que nuestros atletas y entrenadores con su empeño y constancia tiene el compromiso y el deber de luchar por una Colombia unida y demostrarle al mundo que somos un pueblo de paz.</p>
                </div>
                <div class="col-md-6">
                    <img src="~/images/profe1.jpg" class="img-responsive" alt="imagen1">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <h4>Nuestros Lemas</h4>
                </div>
            </div>
            <div class="row" id="all">
                <div class="col-md-6">
                    <div class="view view-first">
                        <img src="~/images/disciplina.jpg" class="img-responsive">
                        <div class="mask"></div>
                        <div class="content">
                            <h4>Lema Político</h4>
                            <p>
                                Con Disciplina y Dignidad, lucharemos por la paz.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="view view-second">
                        <img src="~/images/deportivo.jpg" class="img-responsive" alt="">
                        <div class="mask"></div>
                        <div class="content">
                            <h4>Lema Deportivo</h4>
                            <p>
                                Los campeones no nacen, se hacen.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div id="Galeria" class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>Galeria</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="images/imagen2.jpg" class="img-responsive" alt="imagen2">


                                </div>
                                <div class="item">
                                    <img src="images/imagen1.jpg" class="img-responsive" alt="imagen1">
                                </div>
                                <div class="item">
                                    <img src="images/profe2.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="item">
                                    <img src="images/profe3.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="item">
                                    <img src="images/profe4.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="item">
                                    <img src="images/profe5.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="item">
                                    <img src="images/profe6.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="item">
                                    <img src="images/profe7.jpg" class="img-responsive" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="contacto" class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Contacto</h2>
                    </div>
                </div>
            </div>
            <div class="row" id="fconta">

                <form method="POST" name="fcontacto" id="fcontacto" action="mailto:jairo.durango94@hotmail.com">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombre :</label>
                            <input type="text" name="name" id="name" class="form-control">
                        </div>

                        <div class="col-md-6">
                            <label>Email :</label>
                            <input type="text" name="email" id="email" class="form-control">
                        </div>
                    </div>
                    <label>Asunto :</label>
                    <input type="text" name="asunto" id="asunto" class="form-control">
                    <label>Mensaje :</label>
                    <textarea name="mensaje" id="mensaje" cols="30" rows="10" class="form-control"></textarea>
                    <input type="submit" class="btn btn-info" value="Enviar">

                </form>
            </div>

        </div>
    </div>

    <div class="site-footer">
        <div class="first-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <p>Barrio Lennin, Caseta Comunal - Sede Principal </p>
                            <p> Horario Entrenamiento: Lunes a Viernes de 6:00 a.m a 8:00 a.m y 5:00 p.m a 8:00 p.m</p>
                            <p>Contacto: Gabriel Moya Despaigne, Tel: (+57) 311 3549441</p>
                            <p>Florencia, Caquetá, Colombia, Suramérica</p>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <div class="site-footer">
        <div class="first-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <p>Barrio Lennin, Caseta Comunal - Sede Principal </p>
                            <p> Horario Entrenamiento: Lunes a Viernes de 6:00 a.m a 8:00 a.m y 5:00 p.m a 8:00 p.m</p>
                            <p>Contacto: Gabriel Moya Despaigne, Tel: (+57) 311 3549441</p>
                            <p>Florencia, Caquetá, Colombia, Suramérica</p>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


