﻿@model IEnumerable<CampeonesFinal.Models.Lema_cub>



    <div class="row" id="all">
        <div class="col-md-6">
            <div class="view view-first">
                <img src="~/images/disciplina.jpg" class="img-responsive">
                <div class="mask"></div>
                <div class="content">
                    <h4>Lema Político</h4>
                    @foreach (var item in Model)
                    {
                        if (item.Id == 1)
                        {
                            <p>
                                @Html.DisplayFor(modelItem => item.lema)
                                <!--Con Disciplina y Dignidad, lucharemos por la paz.-->
                            </p>
                        }
                        else { }

                    }

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="view view-second">
                <img src="~/images/deportivo.jpg" class="img-responsive" alt="">
                <div class="mask"></div>
                <div class="content">
                    <h4>Lema Deportivo</h4>
                    @foreach (var item in Model)
                    {
                        if (item.Id == 2)
                        {
                            <p>
                                @Html.DisplayFor(modelItem => item.lema)
                                
                            </p>
                        }
                        else { }

                    }
                    
                </div>
            </div>
        </div>
    </div>
